<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>User Login</h2>

<form th:action="@{/login}" method="post">

    <label>Email:</label>
    <input type="text" name="email" />
    <br><br>

    <label>Password:</label>
    <input type="password" name="password" />
    <br><br>

    <button type="submit">Login</button>

</form>

<p style="color:red" th:text="${error}"></p>

<br>
<a th:href="@{/register}">New User? Register</a>

</body>
</html>