<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>

<h2>User Registration</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

    <label>ID:</label>
    <input type="number" th:field="*{id}" />
    <br><br>

    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <span style="color:red" th:errors="*{name}"></span>
    <br><br>

    <label>Email:</label>
    <input type="text" th:field="*{email}" />
    <span style="color:red" th:errors="*{email}"></span>
    <br><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" />
    <span style="color:red" th:errors="*{password}"></span>
    <br><br>

    <button type="submit">Register</button>

</form>

<br>
<a th:href="@{/login}">Already have account? Login</a>

</body>
</html>